body {
  margin: 0;
  padding: 0;
  font: 18px/24px sans-serif;
}

.wrapper {
  width: 1280px;
  margin: 0 auto;
  margin-bottom: 60px;
}

#banner {
  height: 100px;
  background: black;
  margin: 24px 0;
}

#logo {
  height: 60px;
  margin: 20px;
}

.main_section {
  margin: 24px 0;
}

#map {
  width: 600px;
  height: 600px;
  border: 1px solid black;
  box-sizing: border-box;
  margin: 0 auto;
}

#slider-wrapper {
  width: 600px;
  position: relative;
  margin: 0 auto;
}

#slider-wrapper input[type=range] {
  width: 100%;
}

.range-sections {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* cards */


/* onboarding */

.onboard_section {
  font-size: 36px;
  line-height: 1;
  padding: 12px;
  position: relative;
}

.onboard_section p {
  margin: 18px 0;
}

.onboard_section input[type=text],
.onboard_section input[type=email] {
  width: 600px;
  height: 36px;
  font-size: 36px;
  border: 0;
  border-bottom: 3px solid grey;
  margin-left: 24px;
}

.onboard_section input[type=text]:focus,
.onboard_section input[type=email]:focus {
  border-bottom: 3px solid black;
}

.onboard_section button {
  font-size: 36px;
  font-weight: bold;
  padding: 8px 12px;
  background: black;
  color: white;
}

#onboard_interest_cards {
  width: 800px;
  margin: 0 auto;
}


.interest {
  display: inline-block;
  position: relative;
  width: 250px;
  height: 150px;
  margin: 0 calc((100% - 750px) / 6) 12px;
  font-size: 24px;
  background: #dddddd;
  border-radius: 3px;
  border: 1px solid black;
  box-sizing: border-box;
  cursor: pointer;
}

.interest.selected {
  background: #aaaaaa;
  border: 3px solid black;
}


/* misc */

.flex-center {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.prompt {
  font-weight: 700;
}
